<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-row class="ion-justify-content-between">
        <span>Dr. West Balo</span>
        <ion-icon name="menu"></ion-icon>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="container" id="msg">
    <div *ngFor="let msg of chatService.chatMessages; let e = even" class="message left">
      <ion-row>
        <ion-col [size]="msg.receiverId === store.user._id ? 0 : 3"></ion-col>
        <ion-col [size]="9">
          <ion-card [class]="msg.receiverId===store.user._id?'receivedMessage':'sentMessage'">
            <ion-card-content>
              <ion-row>
                <pre class="line-wrap">
                  {{msg.text}}
                </pre>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-right">
                  <small>{{msg.date | date: 'medium'}}</small>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </div>
    <!-- This simply adds extra padding at the bottom so that chats are not hidden by the footer -->
    <ion-row class="hideMe">
    </ion-row>
  </div>
</ion-content>
<ion-footer>
  <!-- <div class="input-wrap"> -->
  <ion-row class="ion-align-items-center">
    <ion-col size="10">
      <ion-textarea #messageInput placeholder="Enter your message!" [(ngModel)]="chatMessage">
      </ion-textarea>
    </ion-col>
    <ion-col size="2">
      <ion-button ion-button clear icon-only item-right (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <!-- </div> -->
</ion-footer>