// .main-div{
// //   background: #DA22FF;  /* fallback for old browsers */
// // background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
// // background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// height: 100vh;
// background: #8E2DE2;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

// color: white;
// }

.center {
    // display: flex;
    padding-top: 20%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    
    // width: 50%;
  }

  .grey-text{
    color: grey;
  }

  .move-right{
    text-align: center;
  }

  ion-slides {
    height: 80%;
  }

  .page-pad{
    padding-left: 10px; 
    padding-right: 10px;
  }

