.center {
    // display: flex;
    padding-top: 20%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    // width: 50%;
  }

  .grey-text{
    color: grey;
  }

  .move-right{
    text-align: center;
  }