ion-img {
  height: 100px;
}

.center-text {
  text-align: center;
}

// ion-item {
//   width: 80vw;
// }

ion-card {
  padding-bottom: 50px;
}

ion-item {
  //   --border-color: var(--custom-border-color);
  // --highlight-color-valid: var(--custom-border-color);
  // --highlight-background: #0a1365;
  margin-top: 10px;
}

.small-text {
  font-size: 12px;
}

ion-button {
  --ion-color-primary: var(--custom-border-color);
}

.centralize {
  align-items: center;
}
.extra-margin {
  margin-top: 40px;
}

.little-margin {
  margin-top: 10px;
}

.grey {
  color: gray;
}
