// form {
//   background-color: #F6F1F6;
//   height: 100vh;
// }

ion-img {
  height: 100px;
}

.center-text {
  text-align: center;
}



// ion-item {
  //   --border-color: var(--custom-border-color);
  // --highlight-color-valid: var(--custom-border-color);
  // --highlight-background: #0a1365;
  // margin-top: 10px;
// }

.small-text {
  font-size: 12px;
}

ion-input{
  --background: #F9F9F9;
  }

// ion-button {
//   --ion-color-primary: var(--custom-border-color);
// }

.centralize {
  align-items: center;
}
.extra-margin {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}

.little-margin {
  margin-top: 10px;
}

.grey {
  color: gray;
}

.footer{
  padding-top: 60px;
}


ion-item {
  --background: transparent !important; // example
}
