
<ion-toolbar>
  <ion-title><ion-icon name="close" color='primary' routerLink="/start-screen"></ion-icon></ion-title>
 </ion-toolbar>

<form [formGroup]="loginForm" (ngSubmit)="login()">
  <ion-grid class="centralize">
    <ion-col>
      <ion-img style="height: 100px;" src="/assets/icon.png"></ion-img>

    </ion-col>
    <ion-title color='primary'>Welcome Back</ion-title>
   
    
     <!-- <ion-card> -->
      <ion-row class="extra-margin" >
        <ion-col>
          <ion-item>
            <div class="item-content">
            <ion-input formControlName="email" type="email" placeholder="Your Email Address">
              <span style="padding:10px;"><ion-icon name="mail-outline" class="default-text-color" slot="end"></ion-icon></span>
            </ion-input>
            </div>
          </ion-item>
          <br>
          <ion-item>
            <div class="item-content">
            <ion-input (keyup.enter)="login()" formControlName="password" autofocus="on" placeholder="Your Password"
              type="password">
             <span style="padding:10px;"><ion-icon name="lock-closed-outline" class="default-text-color" slot="end"></ion-icon></span>
            </ion-input>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>


      <br>
      <ion-row style="padding-left: 25px;">
        <!-- <ion-col style="padding-top: 20px;">
        <ion-text routerLink="/auth/register" color="primary" class="small-text" >Create an Account</ion-text>
        </ion-col> -->
        <ion-col>
          <ion-button [disabled]="loading" type="submit" color="primary" expand="full">Sign In</ion-button>
        </ion-col>
      </ion-row>
  
          <div class="footer">
          <ion-text color="primary" routerLink="/auth/reset-password" class="small-text">Forgot Password?</ion-text>
          <br><br>

          <ion-text class="grey"><small>By signing in you agree to our <br> <a href="">Terms & Conditions</a> & <a href="">Privacy Policy</a></small> </ion-text>
<!--             
          <ion-col class="center-text small-text grey" style="padding-top: 15px;">
            <ion-text>  Are you a Doctor?
              <a routerLink="" (click)="_authService.registerDoctor()" color="primary">Click Here</a></ion-text>
        </ion-col> -->
          </div>
          
  </ion-grid>
 
</form>

