ion-grid{
  background-color: #F9F9F9;
  height: 100vh;
}

ion-img {
  height: 30px;
}



.center-text {
  text-align: center;
  vertical-align: center;
}

// ion-item {
//   width: 80vw;
// }

ion-item {
//   --border-color: var(--custom-border-color);
  // --highlight-color-valid: var(--custom-border-color);
  // --highlight-background: #0a1365;
  
  --background: transparent !important; // example
  margin-top: 10px
}

.all-fields{
  padding: 10px;
}

.small-text {
    font-size: 12px;
}

// ion-button {
//     --ion-color-primary: var(--custom-border-color)
// }

.centralize {
    align-items: center;
}
.extra-margin {
    margin-top: 10px;
}

.little-margin {
    margin-right: 10px;
}

.grey {
    color: gray;
}