<!-- <ion-header> -->
<ion-toolbar>
  <ion-title>Hospitals</ion-title>
</ion-toolbar>
<ion-searchbar></ion-searchbar>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of [4,4,4,4,4,4,4,4,4]">
      <ion-grid>
        <ion-row>
          <ion-col size="7">
            <ion-row>
              <ion-text color="primary">Paracetamol pkklljdfa kkldjkajfd lkjfja</ion-text>
            </ion-row>
            <ion-row>
              <ion-text>3 * d djlk kakdjflka kjjlkjfa fkjkda jklfa </ion-text>
            </ion-row>
            <ion-row>
              <ion-label color="primary">Jan 11 2021</ion-label>
            </ion-row>
          </ion-col>
          <ion-col size="5">
            <ion-button size="small" fill="outline">Add to Cart</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>