<!-- <ion-header> -->
<ion-toolbar>
  <ion-title color="primary">Hospitals</ion-title>
</ion-toolbar>
<ion-searchbar color=""></ion-searchbar>
<ion-content class="centralize">
  <ion-spinner *ngIf="hService.currentValues.loadingHospitals | async"></ion-spinner>
  <ion-list mode="ios">
    <ion-item *ngFor="let item of hService.currentValues.hospitals | async">
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <ion-row>
              <ion-text color="primary">{{item.name}}</ion-text>
            </ion-row>
            <ion-row>
              <ion-text size="medium"><small>{{item.address}}</small></ion-text>
            </ion-row>
            <ion-row>
            </ion-row>
          </ion-col>
          <ion-col size="3">
            <ion-button color="primary" (click)="showConfirmAlert(item)">Enter</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>