<!-- <ion-header> -->
<!-- <ion-toolbar>
  <ion-title color="primary">Scan Requests</ion-title>
</ion-toolbar> -->
<!-- <ion-searchbar color=""></ion-searchbar> -->
<!-- <ion-item class="centralize" > -->
  <!-- </ion-item> -->
  <ion-content class="centralize" >
  <ion-img src="/assets/test.png"></ion-img>
  <ion-spinner *ngIf="rService.currentValues.loadingRadiologyRequests | async"></ion-spinner>
  <ion-list >
    <ion-text class="grey-text" style="font-size: 28px;" *ngIf="rService.currentValues?.radiologyRequests.value?.length < 1 && !rService.currentValues.loadingRadiologyRequests.value">
      <span><ion-icon name="alert"></ion-icon></span> No Scans 
    </ion-text>
    <ion-item *ngFor="let item of rService.currentValues.radiologyRequests | async">
      <ion-grid>
                <ion-row>
                <ion-col>
              <ion-label><small class="grey-text">{{item.created_at | date: 'MMM-dd-yy hh:mm' | uppercase}}</small></ion-label>
              <ion-label><small [class.pending]="item.completed === false" [class.completed]="item.completed === true">{{item.completed === true?'Completed':'Pending'}}</small></ion-label>
              </ion-col>
              <ion-col>
              <ion-text color='primary'>{{item.service_name}}</ion-text>
              </ion-col>
            </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>PAY</ion-fab-button>
  </ion-fab> -->
</ion-content>