.centralize {
  text-align: center;
  align-content: center;
}

ion-text {

  color: #6c47af;
}

.align-right {
  text-align: right;
}
.centralize {
  text-align: center;
  align-self: center;
}

.grey-text{
  color: grey;
}

.pending{
  color: goldenrod;
}

.completed{
  color: green;
}