
ion-label {
    // color: white;
    color: #6c47af;
}

ion-icon {
    // color: white;
    color: #6c47af;
}

ion-tab-button {
    // background-color: #6c47af !important;
    background-color: whi !important;
}

ion-tab-bar {
    background-color: #6c47af !important;
    height: 100px !important;
}