
ion-label {
    // color: white;
    color: #6c47af;
}

ion-icon {
    // color: white;
    color: #6c47af;
}

// ion-tab-button {
//     // background-color: #6c47af !important;
//     // background-color: white !important;
// }

// ion-tab-bar {
//     background-color: white !important;
//     // height: 80px !important;
// }


.tab-bg{
    // background-color: #6c47af;
    // border-radius: 1em;
    // margin: 10px;
    // margin-top: 0em;
    box-shadow: 5px 1px 2px 1px rgba(108,71,175), 5px 3px 3px 5px rgba(108,71,175) !important;

}

ion-tab-button{
    background-color: transparent;
    ion-icon{
        color: #6c47af;
    }
    ion-label{
        color: #6c47af;
    }
}

// .tab-left-border{
//     // border-left: 2em;
//     background-color: #6c47af;
// }