<ion-tabs>

  <ion-tab-bar>
    <ion-tab-button (click)="eventTrigger(openMenu)">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ambulance">
      <ion-icon name="bus-outline"></ion-icon>
      <ion-label>Ambulance</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>


    <!-- <ion-tab-button tab="payment">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Bill</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="wallet">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Wallet</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>