<ion-app>
  <ion-content [scrollEvents]="true">
    <ion-menu side="start" menuId="custom" contentId="main" *ngIf="store.user">
   
      <ion-content>
        <div class="profile">
          <ion-avatar
            class="profile-img"
            (click)="closeTab()"
            routerLink="/user-profile"
          >
            <ion-img [src]="store.user?.profileImage"></ion-img>
          </ion-avatar>
          <ion-label>
            <ion-text>{{
              store.userFullName | titlecase
            }}</ion-text> </ion-label
          ><br />
          <ion-label>
            <ion-text color="primary">{{
              store.user.smart_code
            }}</ion-text> </ion-label
          ><br />
          <ion-button (click)="closeTab()" routerLink="/user-profile"
            >Profile</ion-button
          >
        </div>

        <ion-list>
          <ion-item
            (click)="closeTab()"
            routerLink="/pandemic"
            class="profile-list"
          >
            <ion-icon class="profile-icon" name="medkit"></ion-icon><span class="profile-list-new"> Covid
            Checker </span>
          </ion-item>
          <ion-item (click)="navigateToResetPassword()">
            <ion-icon class="profile-icon" name="key"></ion-icon><span class="profile-list-new"> Security</span>
          </ion-item>
          <ion-item (click)="navigateToResetPassword()">
            <a
              class="chat-menu"
              href="https://api.whatsapp.com/send?phone=2348058033969&text=Hello!%20I%27m%20contacting%20you%20from%20smart-clinic%20mobile app"
              target="_blank"
              name="chat_with_us"
              ><ion-icon class="profile-icon" name="chatbubbles"> </ion-icon>
              Chat with us</a
            >
          </ion-item>
          <ion-item (click)="navigateToResetPassword()" class="profile-list">
            <a
              style="text-decoration: none"
              href="https://smartapps.com.ng"
              target="_blank"
              name="chat_with_us"
            >
              <ion-icon class="profile-icon" name="bookmarks"></ion-icon> About
              Us</a
            >
          </ion-item>

          <ion-item (click)="logout()" >
            <ion-icon name="log-out" style="color: indianred;"></ion-icon><span  style="color:indianred; padding-left: 0.5em;">Log Out</span>
          </ion-item>
        </ion-list>
      </ion-content>
      <ion-label class="grey-text"><ion-text>Version 3.1.1</ion-text></ion-label>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-content>
</ion-app>
