<!-- <ion-header>
  <ion-toolbar>
    <ion-title>flutterwave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> -->
  <flutterwave-make-payment [public_key]="publicKey" [amount]="amount" currency='NGN' payment_options="card" redirect_url=""
    text="Pay Now" [customer]="customerDetails" [customizations]="customizations" [meta]="meta"
    [tx_ref]="transactionRef" (callback)="makePaymentCallback($event)" (close)="closedPaymentModal()">
  </flutterwave-make-payment>`
<!-- </ion-content> -->