<form [formGroup]="recoveryForm" (ngSubmit)="submitRequest()">
  <ion-grid class="centralize">
    <ion-row>
      <ion-col>
        <ion-img src="/assets/icon-transparent.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="center-text">
        <ion-text>Sign In to your Smart Clinic Account</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="extra-margin">
      <ion-col>
        <ion-item>
          <ion-input formControlName="email" placeholder="Email"></ion-input>
          <ion-icon name="mail-outline" class="default-text-color" slot="start"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-text routerLink="/login" class="small-text">Sign In</ion-text>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="full">Recover Account</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="center-text small-text grey">
        <ion-text routerLink="/auth/login" color="primary">Sign In</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="center-text small-text grey">
        Are you a Doctor?
        <ion-text color="primary">Click Here</ion-text>
      </ion-col>
    </ion-row>

  </ion-grid>
</form>