<ion-header *ngIf="changingPassword">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title" color="primary">Reset Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="recoveryForm" (ngSubmit)="submitRequest()">
    <ion-grid class="centralize">
      <ion-row class="extra-margin">
        <ion-col>
          <ion-item>
            <ion-input [disabled]="changingPassword" formControlName="email" placeholder="Email"></ion-input>
            <ion-icon name="mail-outline" class="default-text-color" slot="start"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          <ion-text routerLink="/login" class="small-text">Sign In</ion-text>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
          <ion-button [disabled]="loading" type="submit" color="primary" expand="full">{{changingPassword ? 'Proceed' : 'Recover Account'}}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!changingPassword">
        <ion-col class="center-text small-text grey">
          <ion-text routerLink="/auth/login" color="primary">Sign In</ion-text>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!changingPassword">
        <ion-col class="center-text small-text grey">
          Are you a Doctor?
          <ion-text color="primary">Click Here</ion-text>
        </ion-col>
      </ion-row>
  
    </ion-grid>
  </form>
</ion-content>