.squ{
    background-color: #6c47af;
    height: 80px;
    width: 100%;
    border-bottom-left-radius: 150px 100px;
    border-bottom-right-radius: 150px 100px;
}

.marginalize {
    margin-top: 5%;
    margin-left: 22%;
    // z-index: -1;
}

.txt-marginalize{
    padding-top: 25px;
}

// #fileInput{
//     display: none;
//   }
