ion-text {
  font-size: 14px;
  // font-weight: bolder;
  color: #6c47af;
}

.align-right {
  text-align: right;
}


.small-text {
  font-size: 12px;
}

.grey-text{
  color: gray !important;
  padding: 15px;
}

ion-card {
  // background-color: #F6F1F6;;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(108,71,175), 0 3px 3px rgba(108,71,175) !important;
 
}

.pad{
 text-align: center;
 padding-left: 80px;
 padding-right: 80px;
 
}

ion-spinner {
  display: block;
  margin: auto;
}

// .active{
//   color: #6c47af;
//   font-size: larger;
// }

.active-color{
  // text-decoration: underline;
  color: #6c47af;
  font-weight: bolder;
}

.default-color{
  color: grey;
  // text-decoration: underline;
}

