<ion-content>
  <ion-grid class="centralize">
    <div class="top-row">
      <ion-row>
        <ion-col>
          <ion-text class="big-font strong-font">Hi, {{store.user?.fname}}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text class="">You are in {{store.currentHospital?.name}}</ion-text>
        </ion-col>
      </ion-row>
    </div>

    <div class="bottom-row">
      <ion-row>
        <ion-col *ngFor="let card of cards" size="6">
          <ion-card [routerLink]="card.link">
            <ion-card-content>
              <ion-img [src]="card.img"></ion-img>
              <ion-text color="primary">{{card.title}}</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>