.centralize {
  // margin-top: 40px;
  text-align: center;
  align-self: center;
  // background-color: red;
}

.img-card {
  height: 60px;
  // margin-bottom: 7px;
}

.top-img{
  height: 40px;
  width: 40px;
  margin-left: 30px;
  margin-top: 20px;
}

.link-card {
  border-radius: 5px;
  max-width: 40vw;
  color: #6c47af;
  font-weight: bold;
  box-shadow: 0 1px 2px rgba(108,71,175), 0 3px 3px rgba(108,71,175) !important;
  // max-height: 20vw;
}
.head-border{
  box-shadow: 0px 0px 2px 1px rgba(108,71,175), 0px 0px 2px 1px rgba(108,71,175) !important;

}
.marginalize {
  margin-top: 5%;
  margin-left: 15%;
  // z-index: -1;
}

.squ{
  background-color: #6c47af;
  height: 70px;
  width: 100%;
  border-bottom-left-radius: 150px 100px;
  border-bottom-right-radius: 150px 100px;
}

.grey-text {
  color: grey;
}

.appt{
  background-color: #6c47af;
  color:white;
  font-weight: bold;
}
.doctors{
  background-color:mediumvioletred ;
  color: white;
  font-weight: bold;
}
.prescriptions{
  background-color:mediumorchid;
  color: white;
}
.lab{
  background-color:#6c47af;
  color: white;
}
.scans{
  background-color:indigo;
  color: white;
}
.hospitals{
  background-color:darkmagenta;
  color: white;
}



// .icon-img{
//   max-height: 2.2em;
//   max-width: 2.2em;
//   margin-bottom: 1em;
// }

.img-border{
  text-align: center;
  border: 1px solid #6c47af;
  border-radius: 2em;
  max-width: 2.5em;
  min-width: 2.5em;
  min-height:2.5em ;
  max-height: 2.5em;
  padding: 8px;
  margin-bottom: 1em;
}

.hospital-card{
background-color: #6c47af;
color: white;
text-align: center;

}

.white-text{
  color: white;
  font-weight: bold;
}

