<ion-content class="bg-style">
  <ion-grid class="centralize">
    <ion-row>
      <ion-col>
        <ion-text color="primary">Hello, Amin</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="primary">You are in Gwarinpa General Hospital</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngFor="let card of cards" size="6">
        <ion-card [routerLink]="card.link">
          <ion-card-content>
            <ion-img [src]="card.img"></ion-img>
            <ion-text color="primary">{{card.title}}</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>