.centralize {
  text-align: center;
  align-self: center;
}

ion-img {
    height: 60px;
    margin-bottom: 7px;
}

.bg-style {
  background: red !important;
}

// ion-content {
//   --ion-background-color: green;
// }