.centralize {
  text-align: center;
  align-content: center;
}

ion-text {
  font-size: 14px;
  color: #6c47af;
}

.align-right {
  text-align: right;
}

.grey-text{
  color: grey;
}

.pending{
  color: goldenrod;
}

.dispensed{
  color: green;
}
