<ion-content class="bg">

 
      
         <ion-toolbar>
          <ion-title color="primary">CheckOut</ion-title>
        </ion-toolbar>
  

  <div class="ion-text-end">
    <ion-button (click)="close()" fill="clear" color="dark">
      <ion-icon name="close" slot="start"></ion-icon>
    </ion-button>
  </div>

  <div class="ion-padding bg">

    <ion-list class="bg">
      <ion-item *ngFor="let p of cart" class="ion-text-wrap">
        <ion-grid>
          <!-- <ion-row class="ion-align-items-center">
            <ion-col size="2" class="ion-align-self-center">
              <ion-button color="medium" fill="clear" (click)="decreaseCartItem(p)">
                <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>

            <ion-col size="1" class="ion-align-self-center">
              {{10 }}
            </ion-col>

            <ion-col size="2" class="ion-align-self-center">
              <ion-button color="medium" fill="clear" (click)="increaseCartItem(p)">
                <ion-icon name="add-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>

            <ion-col size="2" offset="5">
              <ion-button color="medium" fill="clear" (click)="removeCartItem(p)">
                <ion-icon name="close-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row> -->
          <ion-row>
            <ion-col class="text-size" size="6">
              <ion-text>
                {{ p.item_name }}
              </ion-text>
            </ion-col>
            <ion-col size="6" class="ion-text-end">
              <ion-row>
                <ion-col class="text-size" size="8">
                  <ion-text>
                    &#8358;{{ p.amount_paid_per_unit * p.number_of_units }}
                  </ion-text>

                </ion-col>
                <ion-col size="4">
                  <ion-button color="medium" fill="clear" (click)="removeCartItem(p)">
                    <ion-icon name="close-circle" slot="icon-only"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <b>Total:</b>
            </ion-col>
            <ion-col size="6" class="ion-text-end">
              <b>{{ getTotal() | currency:'&#8358;' }}</b>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <!-- <ion-button *ngIf="getTotal() > 0 && !readyToPay" expand="full" (click)="initTransaction()">
      Proceed
    </ion-button> -->
    <app-flutterwave [amount]="amount" [transactionRef]="txRef" *ngIf="!loading"></app-flutterwave>
    <!-- <flutterwave-make-payment *ngIf="transactionInitiated" [public_key]="publicKey" [amount]="amount" currency='NGN'
      payment_options="card,ussd,bank" [redirect_url]="redirectUrl" text="Pay Now" [customer]="customerDetails"
      [customizations]="customizations" [meta]="meta" [tx_ref]="txRef" (callback)="makePaymentCallback($event)"
      (close)="closedPaymentModal()">
    </flutterwave-make-payment> -->
    <ion-progress-bar *ngIf="!transactionInitiated"></ion-progress-bar>
    <progress *ngIf="verifyingPayment"></progress>
  </div>



</ion-content>