.pad{
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    
   }
   .small-text {
    font-size: 12px;
  }  

  .padded{
    text-align: center;
    padding-left:50px;
    padding-right:50px;
  } 