.pad{
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    
   }
   .small-text {
    font-size: 12px;
  }  

  .padded{
    // text-align: center;
    padding-left:45px;
    // padding-right:45px;
  } 

  .market_table{
    width:100%;
    ion-label{
      padding:25px;
    }
    ion-icon{
      padding:25px;
    }
  }