.pad{
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    
   }
   .small-text {
    font-size: 12px;
  }  

  .padded{
    padding-left:45px;
    font-size:20px;
  } 

  .market_table{
    display: flex !important;
    justify-content: start;
    align-content: space-between;
  }

  .super{
    vertical-align:super;
    font-size: 14px;
  }