/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~animate.css/animate.min.css';
$custom-border-color: #6c47af;
 
.cart-modal {
  --height: 90%;
  --border-radius: 10px;
  padding: 25px;
}

// ion-card {
//   background-color: #f9f9f9;
//   box-shadow: 1px 2px 20px 0 rgb(236, 230, 230) !important;
// }

html {
  background-color: #F6F1F6;
  color: #0a1365 !important;
}

.default-text-color {
  color: #0a1365;
}


.smart-primary {
  color: #6c47af !important;
}

.smart-primary-light {
  color: #f7f2f7 !important;
}

.smart-primary-dark {
  color: #51578d;
}

.smart-accent {
  color: #ffa500;
}

.smart-primary:hover {
  color: #51578d !important;
}

.smart-primary:active {
  color: #51578d !important;
}

.smart-primary-bg {
  background-color: #6c47af !important;
  color: white !important;
}

.smart-primary-bg:hover {
  background-color: white !important;
  color: #6c47af !important;
}

.smart-primary-bg-light {
  background-color: rgba(129, 94, 190, 0.397);
  color: #6c47af !important;
}

.is-pointer {
  cursor: pointer;
}

.centralize {
  text-align: center;
  align-content: center;
}
