

// ion-fab-button {
//   height: 45px;
//   width: 45px;
//   --ion-color-primary: transparent;
//   // color:#6c47af
// }

.cart-icon {
  //   --ion-color-primary: green;
  color: #6c47af;
  font-size: 20px;
}

.counter{
border-radius: 1em;
height: 25px;
width: 25px;
margin-top: 15px;
margin-left: 2em;
background-color: #6c47af;
color: white;
text-align: center;
// padding: 10px;
}

.cart-length {
  color: white;
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: 600;
  font-size: 1em;
  min-width: 25px;
  z-index: 10;
}

.whiteBack {
  background-color: white;
}

ion-card {
  box-shadow: 0px 0px 3px 2px #6c47af !important;
  padding: 0px !important;
  // margin: 0px !important;
}

ion-card-title {
  font-size: 14px;
  font-weight: bolder;
}

// ion-text {
//   // font-weight: bolder;
//   color: #6c47af;
// }

ion-label {
  font-size: 12px;
  padding: 0px !important;
  margin: 0px !important;
}

ion-button {
  font-size: 12px;
  padding: 0px !important;
  margin: 0px !important;
}

ion-col {
  padding: 0px !important;
  margin: 0px !important;
}

.small-margin {
  margin: 0 !important;
}

.grey-text{
  color: grey;
}

.green-text{
  color: green;
}
