<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-card>
        <ion-card-content>
          <ion-text>Wallet Balance: </ion-text>
          <!-- <ion-button>Fund Wallet</ion-button> -->
        </ion-card-content>
      </ion-card>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list class="whiteBack">
    <ion-row>
      <ion-col *ngFor="let p of pService.currentValues.pendingBills | async" size="12">
        <ion-card>
          <!-- <ion-card-header>
            <ion-card-title color="primary">{{ p.item_name }}</ion-card-title>
          </ion-card-header> -->
          <ion-card-content>
            <ion-row>
              <ion-col size="8">
                <ion-text>{{ p.item_name }}</ion-text>
              </ion-col>
              <ion-col size="4" class="ion-text-right">
                <ion-button fill="clear" (click)="updateCart(p)">
                  <ion-icon [name]="!p.isInCart ? 'add' : 'remove'"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col class="small-margin" size="6">
                <ion-label>
                  <b>&#8358;{{ p.amount_paid_per_unit * p.number_of_units }}</b>
                </ion-label>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                <ion-label>
                  <b>{{ p.created_at | date: "medium" }}</b>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>