<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title> -->
      <!-- <ion-toolbar>
        <ion-title color="primary">Bills</ion-title>
      </ion-toolbar>  -->

     

      

<ion-content class="centralize">
  
    <ion-img style="height: 200px;" src="/assets/bill.jpg"></ion-img>
  

  <ion-card style="background-color: #6c47af; color: white;">
    <ion-card-content>
      <ion-text>Wallet Balance: ₦0</ion-text>
      <!-- <ion-button>Fund Wallet</ion-button> -->
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart >
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <ion-spinner *ngIf="rService.currentValues.loadingRadiologyRequests | async"></ion-spinner> -->
  <ion-list >
    <ion-item *ngFor="let p of pService.currentValues.pendingBills | async">
      <ion-grid>
                <ion-row>
                <ion-col size=5>
              <ion-label class="grey-text"><small>{{ p.created_at | date: 'MMM-dd-yy hh:mm' | uppercase}}</small></ion-label>
              <ion-text color='primary'>&#8358;{{ p.amount_paid_per_unit * p.number_of_units }}</ion-text>
              </ion-col>
              <ion-col size=5>
              <ion-text color='primary'>{{ p.item_name }}</ion-text>
              </ion-col>
            
              <ion-col size=2>
              <ion-button fill="clear" (click)="updateCart(p)">
                <ion-icon [name]="!p.isInCart ? 'add' : 'remove'"></ion-icon>
              </ion-button>
              </ion-col>
            </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <!-- <ion-list>
    <ion-item>
    <ion-row>
      <ion-col *ngFor="let p of pService.currentValues.pendingBills | async" size="12">
      
            <ion-row>
              <ion-col size="8">
                <ion-text>{{ p.item_name }}</ion-text>
              </ion-col>
              <ion-col size="4" class="ion-text-right">
                <ion-button fill="clear" (click)="updateCart(p)">
                  <ion-icon [name]="!p.isInCart ? 'add' : 'remove'"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col class="small-margin" size="6">
                <ion-label>
                  <b>&#8358;{{ p.amount_paid_per_unit * p.number_of_units }}</b>
                </ion-label>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                <ion-label>
                  <b>{{ p.created_at | date: "medium" }}</b>
                </ion-label>
              </ion-col>
            </ion-row>
        
      </ion-col>
    </ion-row>
    </ion-item>
  </ion-list> -->
</ion-content>